
//esto es para subir al git, el real es el que se encuentra en el archivo .env, este es solo un ejemplo (Es igual al id del backend)
VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com


// URL base de la api del backend
VITE_API_URL=http://localhost:3000/api/v1
